<div style="margin-top: 40px">
  <div class="container-fluid">
    <div
      class="row w-100 mat-elevation-z1"
      style="
        position: fixed;
        z-index: 1003;
        background-color: #fff;
        padding: 8px 0 0 0;
      "
    >
      <div class="col-8" *ngIf="currentDictionaryPage === 'dictionary'">
        <h1 style="font-size: 35px; margin-bottom: 10px; text-align: left">
          <span> Indicator dictionary </span>
          <span
            (click)="getSharedLink($event, 'dictionary')"
            title="Share"
            style="cursor: pointer"
            class="a-s-Ub-A-c no-print ml-2"
          >
            <img
              style="margin-top: -10px; height: 15px"
              src="assets/icons/share_24.png"
            />
          </span>
          <span style="display: none" id="copied-message">Link copied!</span>
        </h1>
      </div>
      <div class="col-8" *ngIf="currentDictionaryPage !== 'dictionary'">
        <h1 style="font-size: 35px; margin-bottom: 10px; text-align: left">
          <span> Matrix </span>
          <span
            (click)="getSharedLink($event, 'matrix')"
            title="Share"
            style="cursor: pointer"
            class="a-s-Ub-A-c no-print ml-2"
          >
            <img
              style="margin-top: -10px; height: 15px"
              src="assets/icons/share_24.png"
            />
          </span>
          <span style="display: none" id="copied-message">Link copied!</span>
        </h1>
      </div>
      <div class="col-4">
        <mat-button-toggle-group
          class="float-right"
          name="metadataType"
          aria-label="Favorite Color"
        >
          <mat-button-toggle
            class="toggle-btn"
            (click)="togglePageType($event, 'dictionary')"
            value="Dictionary"
            [ngClass]="{
              'active-toggle-btn': currentDictionaryPage == 'dictionary'
            }"
            >Dictionary</mat-button-toggle
          >
          <mat-button-toggle
            class="toggle-btn"
            [ngClass]="{
              'active-toggle-btn': currentDictionaryPage == 'matrix'
            }"
            (click)="togglePageType($event, 'matrix')"
            value="Dictionary"
            >Matrix</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="row" style="z-index: 1002">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
