<div class="matrix-container">
  <div
    class="row"
    style="z-index: 1001; position: fixed; background-color: #fff"
  >
    <div class="col-12 d-flex align-items-center mb-3 no-print">
      <button
        color="primary"
        mat-flat-button
        (click)="changeRoute($event, '/matrix')"
      >
        <mat-icon>arrow_back</mat-icon>
        <span class="ml-2">BACK TO GROUPS LIST</span>
      </button>
      <div class="ml-3 mt-1 report-title">
        <div class="h4">{{ metadataGroup?.name }} Indicators</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 matrix-contents" style="z-index: 1000; margin-top: 60px">
      <table class="table mat-elevation-z1">
        <thead>
          <tr>
            <th style="width: 15px">SN</th>
            <th>Name</th>
            <th>Short name</th>
            <th>Description</th>
            <th>Numerator description</th>
            <th>Numerator definition</th>
            <th>Denominator description</th>
            <th>Denominator definition</th>
            <th>Created date</th>
            <th>Updated date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let metadata of metadataGroup[metadataGroup?.key];
              let count = index
            "
          >
            <td>
              {{ count + 1 }}
            </td>
            <td>
              {{ metadata?.name }}
            </td>
            <td>
              {{ metadataData[metadata?.id]?.shortName }}
            </td>
            <td>
              {{ metadataData[metadata?.id]?.description }}
            </td>
            <td>{{ metadataData[metadata?.id]?.numeratorDescription }}</td>
            <td>
              <app-expression-description
                *ngIf="metadataData[metadata?.id]?.numerator"
                [expression]="metadataData[metadata?.id]?.numerator"
              ></app-expression-description>
            </td>
            <td>
              {{ metadataData[metadata?.id]?.denominatorDescription }}
            </td>
            <td>
              <app-expression-description
                *ngIf="metadataData[metadata?.id]?.denominator"
                [expression]="metadataData[metadata?.id]?.denominator"
              ></app-expression-description>
            </td>
            <td>
              {{ metadataData[metadata?.id]?.created | date }}
            </td>
            <td>
              {{ metadataData[metadata?.id]?.lastUpdated | date }}
            </td>
            <td>
              <section>
                <mat-checkbox></mat-checkbox>
              </section>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-stroked-button [matMenuTriggerFor]="menu">Download</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="download($event, 'Excel', 'all')">
        Excel All
      </button>
      <button mat-menu-item (click)="download($event, 'Excel', 'selected')">
        Excel Selected
      </button>
      <button mat-menu-item (click)="download($event, 'CSV', 'all')">
        CSV All
      </button>
      <button mat-menu-item (click)="download($event, 'Excel', 'selected')">
        CSV Selected
      </button>
      <button mat-menu-item (click)="download($event, 'json', 'all')">
        json All
      </button>
      <button mat-menu-item (click)="download($event, 'Excel', 'selected')">
        json Selected
      </button>
    </mat-menu>
  </div>
</div>
